body{
    background: url(https://wallpaperaccess.com/full/1231232.jpg);
}

h1 {
    color: rebeccapurple;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background: lightskyblue;
    padding: 50px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}

.divClass{
    text-align: center;
}

div{
    margin: auto;
}